{% raw %}
# cymdeithion

*Cymdeithion* is the Welsh word for *companions* or *fellow-travellers*. This repository aims to assist in making calculations of a known fixed orbit. As the motion is derived solely from Kepler's laws (TODO, add link), and the systems motion doesn't evolve, the program doesn't claim to be an orbital simulation. However sufficient calculations are provided that the amount of gravitational perturbations can be calculated.

## Orbital Calculations

Current Calculations:

 - Gravity

## What's Next

<!-- cliff:up-next:start -->
<!-- cliff:up-next:end -->

## Recent Changes

TODO automate some kind of update from the latest release. Link to CHANGELOG.md

<!-- cliff:whats-changed:start -->
<!-- cliff:whats-changed:end -->

## Contributing
TODO link to CONTRIBUTING.md

## Recent Contributors
<!-- cliff:contributors:start -->
<!-- cliff:contributors:end -->
{% endraw %}